@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&family=Poppins:wght@300;500;700&display=swap');

body{
    height: 100vh;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{width: 100%;}

.nav-container{
    background: #6E00FF;

    a{
        color: white;
    }
}
p{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em; 

    .logo{
        color: #04FFE1;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 34px;
    }
}
.hide{
    display: none !important;
}
nav{
    float: right;

    ul{
        display: flex;

        a{
            display: block;
            padding: 1em;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}
.social-header, .hero-design{
    display: none;
}
.hero{
    background: #6700EE; 
    display: grid;   
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 4em;

    .highlight{
        color: #FF5CF8;
        font-size: 20px;
        font-weight: bold;
    }
    .scroll{
        width: 25px;
        margin-top: 2em;
    }
    .scroll-down{
        animation: scroll-wheel 1.2s ease-in-out infinite;
    }
}
@keyframes scroll-wheel{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(50%);
    }
}
section{
    padding: 2em 2em;
    text-align: center;
    overflow: hidden;
}
.work{
    background: #E5E5E5;
}
.head-line{
    line-height: .50em;

    .work-title{
        font-weight: 500;
    }
    .work-subtitle{
        font-weight: bold;
        font-size: 1.5em;
        margin-top: -.1%;
    }
}
.portfolio{
    margin-top: 3%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(9%,1fr));
    grid-template-rows: 1fr 1fr;
    
    .popup-image{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.9);
        width: 100%;
        height: 100%;
        z-index: 100;
        display: none;

        span{
            position: absolute;
            top: 2%;
            right: 3%;
            font-size: 2em;
            font-weight: bolder;
            color: white;
            cursor: pointer;
            z-index: 100;
        }
    }

    .popup-image img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        object-fit: cover;
    }
}
.workshow{
    position: relative;
    overflow: hidden;
}
/*.workshow::after{
    content: '';
    display: block;
    background: #6700EE;
    opacity: .5;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    transform: scale(2) rotate(45deg);
    transition: transform .4s ease-in-out;
}
.workshow:hover::after{
    transform: scale(2) translate(-75%, -70%) rotate(45deg);
}*/
.workshow img{
    width: 100%;
}
.workshow img:hover{
    transform: scale(1.2);
    transition: .3s ease-in-out;
}
.grid-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-design{
    height: 40%;
    width: 30%;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #EC51F7;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}
/*.view-design:hover{
    opacity: 1;
}   
#image-popup .modal-img{
    width: 100%;
}*/
.title{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5em;
    font-size: .85em;
}
.subtitle{
    margin-top: -.85em;
    font-weight: bold;
    color: #6700EE;
    font-size: 1.2em;
}
.featured-desc, .featured-desc2{
    font-weight: 500;
    font-size: .75em;
    line-height: 100%;
}
.featured-desc2{
    margin-bottom: 3em;
}
.right{
    background: black;
    width: 75%;
    border-radius: .5em;
    margin-left: 11%;

    .transition2{
        width: 50vw;
        padding: 1em;
    }
}
.more-featured{
    background: #EC51F7; 
    padding: 1em 0 1em 0;
    
    .title2, .subtitle2{
        line-height: .10em;
    }
    .title2{
        font-size: medium;
        color: white;
    }
    .subtitle2{
        color: black;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 1.8em;
    }
    .project-container{
        width: 65vw;
        background: white;
        margin-bottom: 1em;    
        border-radius: 0 .5em .5em 0;

        .project-container, .project1 img, .project2 img{
            border-radius: 0 .5em .5em 0;
        }    
        .project1, .project2{
            width: 65vw;
            display: grid;
            place-content: center;
            padding: 2em 0 2em 3em;
        }
    }
    
    .call{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: black;
        font-size: .85em;
    
        .call-to-action{
            color: white;
            margin-left: .5em;
            font-size: 1.1em;
        }
    }
}
.about{
    text-align: left;
}
.title2{
    font-weight: medium;
    font-size: 1.2em;
    margin-bottom: .5em; 
}
.subtitle{
    font-size: 1.5em;
}
.about-desc, .about-desc2, .about-desc3{
    font-size: .8em;
    line-height: 100%;
}
.about-desc3{
    margin-top: -2em;
}
.quote{
    font-weight: bold;
    color: #6700EE;
    font-size: 1.5em;
    line-height: 1em;
}
.about-right{
    width: 30vw;
    display: none;
}
.contact{
    background: #6700EE;
    text-align: left;

    .contact-title{
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        margin-left: 1%;
    }
    .contact-subtitle{
        color: white;
        padding-right: 30%;
        margin-left: 1%;
    }
    .end-tagline{
        font-size: 1.5em;
        color: white;
        margin-left: 1%;
    }
}
form{
    width: 90%;
    max-width: 500px;
    margin-left: 1%;
}
.row{
    display: flex;
    justify-content: space-between;

    .input-group{
        flex-basis: 46%;
    }
    #name, #email{
        padding: 6.5%;
    }
}
.input-group{
    margin-bottom: 2%;
}
input, textarea{
    width: 100%;
    padding: 3%;
    color: black;
    outline: 0;
    border: none;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
}
#submit{
    width: 38%;
    height: 7vh;
    padding: 2% 0;
    outline: none;
    border: none;
    background: #EC51F7;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
    cursor: pointer;
}
#btnScrollToTop{
    display: none;
}

@media only screen and (min-width: 768px){
    .portfolio{
        display: grid;
        grid-template-columns: repeat(3, minmax(9%,1fr));
        grid-template-rows: 1fr 1fr;
        grid-gap: 1%;
    }
    .workshow img{
        width: 100%;
    }
    .featured, .more-featured{
        text-align: left;        
    }
    .featured, .project-container{
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left{
        display: grid;
        place-content: center;
    }
    .title{
        font-size: .95em;
    }
    .subtitle{
        margin-top: -.5em;
        font-size: 1.4em;
    }
    .featured-desc, .featured-desc2{
        font-size: .85em;
        line-height: 1.2em;
    }
    .right{
        background: black;
        width: 53vw;
        border-radius: .5em;
        margin-left: 1em;
    
        .transition2{
            width: 45vw;
            padding: 1em 0 1em 2em;
        }
    }
    .more-featured{
        margin-top: -3em;
    }
    .title2{
        margin-left: 1.77em;
    }
    .subtitle2{
        margin-left: 1.45em;
    }
    .projects{
        display: flex;

        .project-container{
            width: 39vw;
            display: flex;
            margin-right: 9em;
            border-radius: 0 .5em .5em 0;
        }
        .one{
            margin-left: .7em;
        }
        .two{
            border-radius: .5em 0 0 .5em;
        }
        .project2{
            margin-left: -9em;
        }
        .two .project2 img{
            border-radius: .5em 0 0 .5em;
        }
        .project1  img, .project2 img{
            width: 38vw;
        }
    }
    .call{
        text-align: center;
    }
    .about-container{
        display: grid;        
        grid-template-columns: 40% auto;
        .about-left{
            text-align: left;
        }
        .title2{
            margin-left: .1em;
            line-height: 1em;
        }
        .about-desc3, .quote{
            margin-top: -1.5em;
        }
        .quote{
            margin-top: 10%;
            font-size: 1.4em;
            font-weight: bold;
            color: #6700EE;
        }
        .about-right{
            display: grid;
            place-content: center;
            padding-left: 6em;
            width: 40vw;
            margin-left: -1.8em;
        }        
    }
    #btnScrollToTop{
        display: unset;
        position: fixed;
        right: 3%;
        bottom: 5%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #FF5CF8;
        color: white;    
        outline: none;
        border: none;
        cursor: pointer;               
    }  
    #btnScrollToTop:hover{
        background: #9551EF;
    } 
}

@media only screen and (min-width: 1024px){
    .workshow img{
        width: 100%;
    }
    .hero{
        height: 82.5vh;
    }    
    .nav-container{
        display: grid;
        grid-template-columns: 70% auto;
        background: unset;

        header{
            background: #6E00FF;
        }
    }
    header{
        padding-left: 4em;
    }
    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: left;
            margin-left: 6%;
        }
        .other-portfolio{
            width: 8em;
            padding-top: 3em;
            margin-left: 3em;
        }
        img{
            width: 20px;
            padding-top: 2.8em;
            padding-left: .5em;
        }
    }
    .hero{
        display: grid;
        grid-template-columns: 70% auto;
        background: unset;
        padding: 0;

        .content{
            background: #6700EE;
            padding: 5em 15em 0 3.8em;
            line-height: 3em;
            text-align: left;
            
            .meet{
                margin-top: -1em;

                p{
                    font-size: 1.2em;

                    span{
                        font-size: 1.2em;
                    }
                }
            }
            
            .scroll{
                margin-top: -1.5em;
            }
            h1{
                font-size: 2.5em;
            }            
        }
    }
    .hero-design{
        display: unset;
        margin-left: -60%;
        width: 90%;
    }  

    .featured{
        display: grid;
        grid-template-columns: 40% auto;

        .left{
            .title{
                font-size: 1.1em;
            }
            .subtitle{
                font-size: 1.6em;
            }
            .featured-desc, .featured-desc2{
                font-size: 1em;
            }
        }
        .transition2{
            padding-left: 2.7em;
        }
    }
    .title2{
        padding-left: 2.8em;
        font-size: 1.3em;
    }    
    .subtitle2{
        padding-left: 2.35em;
    } 
    .projects{
        margin-left: 1.8em;
    } 

    .about-container{
        display: grid;        
        grid-template-columns: 45% auto;

        .about-left{
            text-align: left;
        }
        .subtitle{
            font-size: 1.8em;
            padding-left: 2em;
        }
        .about-desc, .about-desc2, .about-desc3{
            font-size: 1em;
            padding-left: 3.6em;
        }
        .quote{
            font-size: 1.8em;
            padding-left: 1.9em;
        }
        .about-right{
            width: 35vw;
            padding-left: 8em;
        }
    }
    .contact-content{
        background: #6700EE;
        .contact-title{
            font-size: 1.8em;
            font-weight: bold;
            padding-left: 6%;
        }
        .contact-subtitle{
            padding-left: 6%;
            padding-right: 50%;
        }
        .end-tagline{
            font-size: 1.8em;
            padding-left: 6%;
        }
    }
    .contact{
        display: grid;
        grid-template-columns: 70% auto;
        background: unset;
        padding: 0;
    }
    form{
        padding: 6%;
    }
}

@media only screen and (min-width: 1250px){
    header{
        padding-left: 6em;
        padding-right: 6em;

        nav ul li{
            padding-left: 1em;
        }
    } 
    .social-header{      
        margin-left: 3em;
    }   
    .hero{
        .content{
            padding-right: 24em;
            padding-left: 6em;
        }
        .hero-design{
            width: 85%;
            margin-left: -57%;
            margin-top: 1em;
        }
    }
    .head-line{
        text-align: left;
        margin-left: 4em;

        .work-title{
            font-size: 1.8em;
        }   
        .work-subtitle{
            font-size: 2.5em;
        }     
    }
    .work{
        display: grid;
        grid-template-columns: 45 auto;

        .workshow img{
            width: 100%;        
        }        
    }
    .featured{
        .left{
            .title{
                font-size: 1.3em;
            }
            .subtitle{
                font-size: 2em;
            }
            .featured-desc, .featured-desc2{
                font-size: 1.2em;
            }
        }
        .right{
            margin-left: 2em;
        }
    }
    .more-featured{
        .more-project{
            .title2{
                font-size: 1.5em;
                padding-left: 1.2em;                
            }
            .subtitle2{
                font-size: 1.5em;
                padding-left: 1.5em;                
            }
            .projects{
                margin-left: 2.8em;
            } 
        }
        .call{
            font-size: 1.1em;
        } 
    }   
    .about{
        .title2{
            font-size: 1.3em;
        }
        .about-desc, .about-desc2, .about-desc3{
            font-size: 1.2em;
            padding-left: 3em;
        }
    }    
}

@media only screen and (min-width: 1339px){
    .hero{
        .content{
            padding-right: 50%;
        }
    }
    .featured{
        .right img{
            padding-left: 7.5%;
        }
    }
    .more-featured{
        .project-container{
            margin-left: 1%;
        }
    }
    .about{
        .title2{
            font-size: 1.5em;
        }
        .subtitle{
            font-size: 2.1em;
        }
        .about-desc, .about-desc2, .about-desc3{
            font-size: 1.4em;
        }
        .quote{
            font-size: 2.1em;
        }
    }   
    .contact{
        .contact-title{
            font-size: 3em;
            line-height: .2em;
        }
    } 
}

